<% content_for :drawer do %>
  <% unless Rails.env.production? %>
    <%= button_to "Publish", links_publish_path, method: :post,
          form_class: "btn-form", class: "btn" %>
    <%= link_to "+ New Link", new_link_path, class: "btn" %>
  <% end %>
  <%= link_to "← FizzBuzz", root_path, class: "btn" %>
<% end %>

<h1>Links</h1>
<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>

<%= turbo_stream_from :links %>

<div id="qr_code_container">
  <% if (gist = Gist.latest) %>
    <%= render partial: "links/qr_code", locals: { gist: gist } %>
  <% end %>
</div>

<ul id="links">
  <% @links.each do |link| %>
    <%= render partial: "links/link", locals: { link: link } %>
  <% end %>
</ul>
