<h1>Links</h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<%= turbo_stream_from :links %>

<%= button_to "Publish", links_publish_path, method: :post %>

<% if (gist = Gist.latest) %>
  <%= render partial: "links/qr_code", locals: { gist: gist } %>
<% end %>

<ul id="links">
  <% @links.each do |link| %>
    <%= render partial: "links/link", locals: { link: link } %>
  <% end %>
</ul>

<%= link_to "New Link", new_link_path %>
