<h1>New Link</h1>
<%= form_with model: @link do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <%= f.submit "Create Link" %>
<% end %>
