<h1>New Link</h1>
<%= form_with model: @link do |f| %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-field">
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div>
  <%= f.submit "Create Link", class: "btn" %>
<% end %>
